@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@source '../Common';
@source '../Containers';
@source '../Icons';

@theme {
  --color-gray-25: #fdfdfd;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #101828;
  --color-brand-25: #eef7ff;
  --color-brand-50: #d9ecff;
  --color-brand-100: #bcdeff;
  --color-brand-200: #8ecbff;
  --color-brand-300: #59adff;
  --color-brand-400: #2684ff;
  --color-brand-500: #1b6bf5;
  --color-brand-600: #1455e1;
  --color-brand-700: #1745b6;
  --color-brand-800: #193d8f;
  --color-brand-900: #142757;
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffafb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;
  --color-blue-gray-25: #fcfcfd;
  --color-blue-gray-50: #f8f9fc;
  --color-blue-gray-100: #eaecf5;
  --color-blue-gray-200: #d5d9eb;
  --color-blue-gray-300: #afb5d9;
  --color-blue-gray-400: #717bbc;
  --color-blue-gray-500: #4e5ba6;
  --color-blue-gray-600: #3e4784;
  --color-blue-gray-700: #363f72;
  --color-blue-gray-800: #293056;
  --color-blue-gray-900: #101323;
  --color-blue-25: #f5faff;
  --color-blue-50: #eff8ff;
  --color-blue-100: #d1e9ff;
  --color-blue-200: #b2ddff;
  --color-blue-300: #84caff;
  --color-blue-400: #53b1fd;
  --color-blue-500: #2e90fa;
  --color-blue-600: #1570ef;
  --color-blue-700: #175cd3;
  --color-blue-800: #1849a9;
  --color-blue-900: #194185;
  --color-indigo-25: #f5f8ff;
  --color-indigo-50: #eef4ff;
  --color-indigo-100: #e0eaff;
  --color-indigo-200: #c7d7fe;
  --color-indigo-300: #a4bcfd;
  --color-indigo-400: #8098f9;
  --color-indigo-500: #6172f3;
  --color-indigo-600: #444ce7;
  --color-indigo-700: #3538cd;
  --color-indigo-800: #2d31a6;
  --color-indigo-900: #2d3282;
  --color-purple-25: #fafaff;
  --color-purple-50: #f4f3ff;
  --color-purple-100: #ebe9fe;
  --color-purple-200: #d9d6fe;
  --color-purple-300: #bdb4fe;
  --color-purple-400: #9b8afb;
  --color-purple-500: #7a5af8;
  --color-purple-600: #6938ef;
  --color-purple-700: #5925dc;
  --color-purple-800: #4a1fb8;
  --color-purple-900: #3e1c96;
  --color-pink-25: #fef6fb;
  --color-pink-50: #fdf2fa;
  --color-pink-100: #fce7f6;
  --color-pink-200: #fcceee;
  --color-pink-300: #faa7e0;
  --color-pink-400: #f670c7;
  --color-pink-500: #ee46bc;
  --color-pink-600: #dd2590;
  --color-pink-700: #c11574;
  --color-pink-800: #9e165f;
  --color-pink-900: #851651;
  --color-rose-25: #fff5f6;
  --color-rose-50: #fff1f3;
  --color-rose-100: #ffe4e8;
  --color-rose-200: #fecdd6;
  --color-rose-300: #fea3b4;
  --color-rose-400: #fd6f8e;
  --color-rose-500: #f63d68;
  --color-rose-600: #e31b54;
  --color-rose-700: #c01048;
  --color-rose-800: #a11043;
  --color-rose-900: #89123e;
  --color-orange-25: #fffaf5;
  --color-orange-50: #fff6ed;
  --color-orange-100: #ffead5;
  --color-orange-200: #fddcab;
  --color-orange-300: #feb273;
  --color-orange-400: #fd853a;
  --color-orange-500: #fb6514;
  --color-orange-600: #ec4a0a;
  --color-orange-700: #c4320a;
  --color-orange-800: #9c2a10;
  --color-orange-900: #7e2410;

  --color-white: #fff;
  --color-transparent: 'transparent';
  --color-shadow: #0a0d12;
  --color-shadow-focus: #f4ebff;
  --color-color-ring-rose: #f4ebff;
  --color-color-ring-gray: #f4ebff;
  --shadow-xs: 0px 1px 2px 0px --alpha(var(--color-shadow, #0a0d12) / 5%);
  --shadow-xs-focus:
    0px 1px 2px 0px --alpha(var(--color-shadow, #0a0d12) / 5%),
    0px 0px 0px 4px --alpha(var(--color-shadow-focus, #f4ebff) / 100%);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-xs: 0.75rem;
  --font-xs-line-height: 1.125rem;
  --font-sm: 0.875rem;
  --font-sm-line-height: 1.25rem;
  --font-base: 1rem;
  --font-base-line-height: 1.5rem;
  --font-lg: 1.125rem;
  --font-lg-line-height: 1.75rem;
  --font-xl: 1.25rem;
  --font-xl-line-height: 1.875rem;
  --font-2xl: 1.5rem;
  --font-2xl-line-height: 2rem;
  --font-3xl: 1.875rem;
  --font-3xl-line-height: 2.25rem;
  --font-4xl: 2.25rem;
  --font-4xl-line-height: 2.5rem;
  --font-5xl: 3rem;
  --font-5xl-line-height: 3rem;
  --font-6xl: 3.75rem;
  --font-6xl-line-height: 3.75rem;
  --font-7xl: 4.5rem;
  --font-7xl-line-height: 4.5rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}
